{% extends 'AppBundle::template_default.html.twig' %}

{% block subtitle %}Turniertverwaltung{% endblock %} 

{% block content %}
<div class="container">
	<div class="row">
		<div class="page-header">
			<h1>Turnierplatzierung bearbeiten <small>{{ entity }}</small></h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="btn-group pull-left">
			  <a class="btn btn-default" href="{{ path('event_index') }}"><i class="fa fa-backward"></i> zurück zur Veranstaltungsübersicht</a>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6 col-sm-12">
		      {% form_theme edit_form 'AppBundle:Tournament:form_tournament_ranking.html.twig' %}
    		{{ form(edit_form) }}
    	</div>
    </div>
{% endblock %}
