<div class="widget">
	<div class="widget-simple">
		<a href="page_ready_user_profile.php"> <img
			class="widget-image img-circle pull-left" alt="avatar"
			src="img/placeholders/avatars/avatar2.jpg">
		</a>
		<h4 class="widget-content text-right">
			<a class="themed-color-modern" href="page_ready_user_profile.php"> <strong>Kyle
					Ross</strong>
			</a> <small>Web Developer</small>
		</h4>
	</div>
	<div class="widget-extra">
		<div class="row text-center themed-background-dark-modern">
			<div class="col-xs-4">
				<h3 class="widget-content-light">
					<i class="fa fa-heart"></i><br> <small>3.200</small>
				</h3>
			</div>
			<div class="col-xs-4 text-center">
				<h3 class="widget-content-light">
					<strong>9</strong><br>
					<small>Clients</small>
				</h3>
			</div>
			<div class="col-xs-4">
				<h3 class="widget-content-light" title="Teilnahmen" alt="Teilnahmen">
					<i class="fa fa-eye"></i><br> <small>9</small>
				</h3>
			</div>
		</div>
	</div>
</div>