{% extends '::base.html.twig' %} 

{% block stylesheets %} 
{% stylesheets 
	'bundles/app/css/design.css' 
	'bundles/app/css/widget.css' 
	'bundles/app/css/themes.css' 
	filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %} 

{% block body %} 
{% include 'AppBundle:Navigation:default_nav.html.twig' %}

{% block header %}
<div class="intro-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro-message">
					<h1>Brände Pokernight</h1>
					<hr class="intro-divider">
					<ul class="list-inline intro-social-buttons">
						<li><a class="btn btn-default btn-lg"
							href="{{ path('annualranking') }}"><i
								class="fa fa-line-chart fa-fw"></i> <span class="network-name">5-Jahreswertung</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{# --- row #}
	</div>
	{# --- container#}
</div>
{# --- header #} 
{% endblock header %} 

{% block content %} {% endblock%}


{% block footer %}
<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('index') }}">Home</a>
                        </li>
                        <li class="footer-menu-divider">⋅</li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; 2018 Michael Müller <a href="mailto:development@reu-network.de">development@reu-network.de</a></p>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}
{% endblock %}
