{% extends 'PokernightAppBundle::template.html.twig' %} 

{% block header %}
<header class="default-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="tagline">{% block subtitle %}{% endblock %}</h1>
			</div>
		</div>
	</div>
</header>
{% endblock header %}

{% block content %}
{% endblock %}

{% block banner %}
{% endblock banner %}