{% extends 'PokernightAppBundle::template_default.html.twig' %}

{% block subtitle %}Auslosung{% endblock %} 

{% block content %}
<div class="container">
	<hr>
	<div class="row">
		<div class="col-sm-6">
			<h2>Auslosung</h2>
			<div class="list-group" id="source">
			  {% for player in listPlayer %}
			  <button type="button" class="list-group-item">{{ player.nickname }}</button>
			  {% else %}
			  <button type="button" class="list-group-item list-group-danger">Kein Spieler in DB</button>
			  <button type="button" class="list-group-item">Cras justo odio</button>
			  <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
			  <button type="button" class="list-group-item">Morbi leo risus</button>
			  <button type="button" class="list-group-item">Porta ac consectetur ac</button>
			  <button type="button" class="list-group-item">Vestibulum at eros</button>
			  {% endfor %}
			</div>
		</div>
		<div class="col-sm-6">
			<div class="list-group" id="result">
			</div>
			<a class="btn btn-default" id="btn-select">Auswahl</a>
			<a class="btn btn-default" id="btn-stop">Stop</a>
		</div>
	</div>
</div>
{% endblock content %}

{% block javascripts %}
<script type="text/javascript">

$( document ).ready(function() {
	var list = $("#source .list-group-item").toArray();
	var elemlength = list.length;
	var timeout = null;
	var randomitem = null;
	var i = 1;

	function randomSelect() {    
		$("#source .list-group-item").removeClass("list-group-item-warning"); 
		elemlength = list.length;
		randomnum = Math.floor(Math.random()*elemlength);
		randomitem = list[randomnum];
		randTimeout = Math.floor(Math.random() * (400 - 10) + 10);
		$(randomitem).toggleClass("list-group-item-warning");
		timeout = setTimeout(randomSelect, randTimeout);
		if(list.length == 0)
		{
			clearTimeout(timeout);
			list = jQuery.grep(list, function(value) {
				  return value != randomitem;
			});
			$('#result').append($('#source .list-group-item-warning').removeClass('list-group-item-warning'));
		}
		else if(i++ % 20 == 0 && list.length != 0)
		{
			$('#result').append($(randomitem).removeClass('list-group-item-warning'));
			list = jQuery.grep(list, function(value) {
				  return value != randomitem;
			});
		}
	}
	
	$('#btn-select').click(function(){
		i = 1;
		randomSelect();
	});
	$('#btn-stop').click(function(){
		clearTimeout(timeout);
		list = jQuery.grep(list, function(value) {
			  return value != randomitem;
		});
		$('#result').append($('#source .list-group-item-warning').removeClass('list-group-item-warning'));
		randomSelect();
	});
});
</script>
{% endblock javascripts %}