{% extends 'PokernightAppBundle::template_default.html.twig' %}

{% block subtitle %}Verwaltung{% endblock %} 

{% block content %}
<div class="container">
	<hr>
	<div class="row">
		<div class="col-sm-12">
		    <h1>Location creation</h1>
		
		    {{ form(form) }}
		
		    <ul class="record_actions">
				    <li>
				        <a href="{{ path('location') }}">
			            Back to the list
			        </a>
			    </li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
