<div class="list-group">
{#   {% for i in 1..table.maxSeats %}#}
{#   <button type="button" class="list-group-item poker-seat"><small>Platz {{ loop.index }}:</small> {% if table.seats[loop.index0] is defined %}{{ table.seats[loop.index0] }}{% else %}Test {% endif %}</button>#}
{#   {% endfor %}#}
</div>