@CHARSET "ISO-8859-1";
body,
html {
	height: 100%;
	width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 700;
}

body {
	padding-top: 50px;
	font-weight: normal;
}

.clickable-row {
	cursor: pointer
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	background: rgba(0, 0, 0, 0) url("../images/intro-bg.jpg") no-repeat scroll center center / cover;
	color: #f8f8f8;
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
}

.intro-message {
	padding-bottom: 20%;
	padding-top: 20%;
	position: relative;
}

.intro-message > h1 {
	font-size: 5em;
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-top: 1px solid #f8f8f8;
	width: 400px;
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}
	.intro-message > h1 {
		font-size: 3em;
	}
	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}
	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}
	.intro-divider {
		width: 100%;
	}
}

.network-name {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	float: left;
	width: 200px;
}

.banner {
    background: rgba(0, 0, 0, 0) url("../images/banner-bg.jpg") no-repeat scroll center center / cover;
	color: #f8f8f8;
	padding: 100px 0;
}

.banner h2 {
	font-size: 3em;
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}
}

@media (max-width: 767px) {
	.banner h2 {
		font-size: 3em;
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	}
	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}
	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}
}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}

.default-header {
	color: #f8f8f8;
	height: 250px;
	margin-bottom: 15px;
}

.header-background-1{
	background: rgba(0, 0, 0, 0) url("../images/banner-bg.jpg") no-repeat scroll center center / cover;
}

.header-background-2{
    background: rgba(0, 0, 0, 0) url("../images/poker-deck.jpg")no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tagline {
	font-size: 3em;
	margin: 0;
	padding-top: 150px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	color: #fff;
}

.img-center {
	margin: 0 auto;
}

.badge.pull-left{
	margin-right: 4px;
}

.borderless{
	border: none;
}

.label-as-badge {
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.borderless,
.borderless .list-group-item,
.list-group-item.borderless{
	border: none;
	border-image: none;
	border-shadow: none;
	box-shadow: none;
}

/** CHIPS */
div.chip {
    float: left;
    width: 90px;
    height: 90px;
    margin: 10px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -moz-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    -webkit-box-shadow: inset 0 0 1px 1px rgba(0,0,0, 0.1), 0 0 5px 1px rgba(90,90,90, 0.1), inset 0 35px 1px rgba(255,255,255, 0.2);
    border: 10px dotted #fff;
}

div.chip div {
    font-family: Verdana;
    text-align: center;
    line-height: 70px;
    font-size: 1.7em;
}

div.orange { background: #f7b55e }

div.green { background: #01DF3A; /** #92ed40 */ }

div.blue { background: #2E64FE; /** #4cc3fe */ }

div.black { background: #333; }

div.red { background: #DF013A; /** #fd5f72 none repeat scroll 0 0; */ }

div.white {
    background: #EFEFEF none repeat scroll 0 0;
    color: #333;
}

div.disabled {
    opacity: 0.4;
}


video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}