<div class="col-sm-5">
{#     <div class="panel panel-default">#}
{#        <div class="panel-heading">#}
{#            <h3 class="panel-title">Wertigkeit Chips</h3>#}
{#        </div>#}
{#        <div class="panel-body">#}
{#             <div class="chip red">#}
{#               <div>10</div>#}
{#             </div>#}
{#             <div class="chip white">#}
{#               <div>20</div>#}
{#             </div> #}
{#             <div class="chip black">#}
{#               <div>50</div>#}
{#             </div>#}
{#             <div class="chip green">#}
{#               <div>100</div>#}
{#             </div>#}
{#             <div class="chip blue">#}
{#               <div>200</div>#}
{#             </div>#}
{#            <div class="chip orange">#}
{#               <div>500</div>#}
{#             </div> #}
{#        </div>#}
{#     </div>#}
</div>
