{% extends "PokernightAppBundle::template_live.html.twig" %} 

{% block content %}
<div class="container-fluid">
	<div class="row"  id="live-tournament-overview">
		<div class="col-sm-5">
		</div>
		{% for table in tournament.tables %}		
		<div class="col-sm-7">
			{% include "PokernightAppBundle:Table:table_10_player.html.twig" with {'seats': table.seats } %}
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
