{% extends "AppBundle::template_live.html.twig" %} 

{% block content %}
<div class="container-fluid">
    {% if frmSelectTournament is defined %}
    <div class="row">
        <div class="col-sm-12">
            {{ form(frmSelectTournament) }}
        </div>
    </div>
    {% endif %}
    
    {% if tournament is defined %}
	<div class="row"  id="live-tournament-overview">
		<div class="col-sm-5">
		</div>
		{% for table in tournament.tables %}		
		<div class="col-sm-7">
			{% include "AppBundle:Table:table_10_player.html.twig" with {'seats': table.seats } %}
		</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
{% endblock %}
