<!-- Right Sidebar -->
<div id="right-sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a>Teilnehmer</a>
        </li>

        {% if tournament is defined %}
            {% for rank in tournament.ranking %}
            <li class="small"><a href=""><span class="badge">{{ rank.rank }}</span> {{ rank.player.nickname }}</a></li>
            {% endfor %}
        {% endif %}
</div>
<!-- /#right-sidebar-wrapper -->