<!-- Sidebar -->
<div id="sidebar-right-wrapper">
	<ul class="sidebar-nav-fixed pull-right">
		<li class="sidebar-brand"><a>Right Sidebar</a></li>
{# 		<li><a href="#"><i class="fa fa-fire"></i> Kamin</a></li>#}
	</ul>
	
</div>
<!-- /#sidebar-wrapper -->