<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-header">
		<a href="{{ path("index") }}" class="navbar-brand">{% if tournament is defined %}{{ tournament }}{% else %}Brände Pokernight{% endif %}</a>
	</div>
	
    <div class="navbar-header navbar-clock text-success">
        aktuell <span class="current-blind text-digital">10/20</span>
    </div>
    
    <div class="navbar-header navbar-clock text-success">
         <i class="fa fa-hourglass-2"></i> <span class="current-time text-digital"></span>
    </div>
    
    <div class="navbar-header navbar-clock text-success">
        nächster <span class="next-blind text-digital">20/40</span>
     </div>
    
	<div class="navbar-right navbar-clock text-success">
		 <i class="fa fa-clock-o"></i> <span class="current-time text-digital"></span>
	</div>
</nav>