<nav role="navigation" class="navbar navbar-inverse navbar-fixed-bottom" style="maring-top: 20px">
	<div class="navbar-header">
		<a href="{{ path("index") }}" class="navbar-brand">{% if tournament is defined %}{{ tournament }}{% else %}Brände Pokernight{% endif %}</a>
	</div>
	
    <div class="navbar-header navbar-clock text-success">
        aktuell <span class="current-blind text-digital">Waiting...</span>
    </div>
    
    <div class="navbar-header navbar-clock text-success">
         <i class="fa fa-hourglass-2"></i> <span class="time-left text-digital">Waiting...</span>
    </div>
    
    <div class="navbar-header navbar-clock text-success">
        nächster <span class="next-blind text-digital">Blindlevel</span>
     </div>
     
     <div class="navbar-header" style="line-height: 55px;">
        <a class="btn btn-xs btn-success" id="btn-start" alt="" title=""><i class="fa fa-fw fa-play"></i></a>
     </div>
     
     <div class="navbar-header" style="line-height: 55px;">
        <a class="btn btn-xs btn-warning" id="btn-pause" alt="" title=""><i class="fa fa-fw fa-pause"></i></a>
     </div> 
    
	<div class="navbar-right navbar-clock text-success">
		 <i class="fa fa-clock-o"></i> <span class="current-time text-digital"></span>
	</div>
</nav>